.card.is-post .content-wrap .post-image .masonry-grid .fab-wrapper.is-comment,.card.is-post .content-wrap .post-image .fab-wrapper.is-comment {
    right: 65px;
}
.pageloader::before {
    background-color: #009fe3;
}
.pageloader::after {
background-color: rgb(125, 175, 254);
border: 3px solid rgb(26, 114, 255);
}
.chat-wrapper{
    position: fixed;
    top: 13%;
    height: 88%;
    z-index: 2!important;
}
.chat-wrapper .chat-inner .chat-action .chat-action-inner .control .compose-dropdown{
	right: 2%;
	left: inherit;
	top: 17%;
}
.chat-wrapper .chat-inner .chat-action .chat-action-inner .control .textarea{
	padding: 20px;
}
.chat-wrapper .chat-inner .chat-action{
	bottom: 1%;
}
.mean-container .mean-bar{
	position: relative;
	top: -82px;
	z-index: 2;
}
.fs-12{
	font-size: 12px
}
.modal-content {
    margin-top: 0px!important;
}
.cover-bg .avatar .pop-button{
	left: -30px
}
.cover-bg .avatar .avatar-image{
	height: 150px!important;
	width: 150px!important;
}
.cover-bg .avatar{
	width: 100%
}
.cover-bg .avatar .avatar-button {
    left: 75%;
}
.cover-bg .avatar .avatar-button.is-active {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.chat-wrapper .chat-inner .chat-body .chat-body-inner .chat-message .message-block .message-text{
	max-width: 500px;
}
.select2-container--default .select2-selection--multiple{
	height: 40px!important;
}
.select2-container{
	width: 100%!important;
	font-size: 14px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li{
	padding-top: 5px;
}
.chat-wrapper .chat-inner .chat-nav,.chat-wrapper .chat-inner .chat-body,.chat-wrapper .chat-inner .chat-body.is-opened,.chat-wrapper .chat-inner .chat-body.is-opened .chat-action{
	width: 70%!important;
	right: 0;
	left: auto;
}
.chat-wrapper .chat-inner .users-sidebar{
	width: 30%;
}
.chat-wrapper .chat-inner .users-sidebar .header-item, .chat-wrapper .chat-inner .users-sidebar .user-item, .chat-wrapper .chat-inner .users-sidebar .footer-item{
	width: 100%;
	justify-content: left;
	padding: 40px 15px;
}
.chat-wrapper .chat-inner .users-sidebar .header-item{
	display: block!important;
	height: auto!important;
	padding-top: 20px;
}
.side-msg{
	overflow: hidden;
	height: 40px;
}
.side-msg.unread{
	font-weight: 600;
}
.msg-container{
	width: calc(100% - 135px)
}
.msg-time{
	margin-left: 20px
}
.avatar-container{
	margin-right: 5%
}
.search-field{
	padding: 10px 30px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	display: flex;
}
.search-field i{
	margin-top:5px;
	margin-right: 15px; 
	color: #aaa;
}
.search-field input{
	border: 0;
	font-size: 14px;
}
.composed{
	cursor: pointer;
	float: right;
    border: 1px dashed #2478ff;
    border-radius: 50%;
    padding: 4px;
    color: #009fe3;
    margin-top: -7px;
}
.compose svg{
	height: 20px;
    width: 25px;
}
.dripicons-media-record.tag-online:before,.dripicons-media-record.tag-offline:before,.dripicons-media-record.tag-busy:before{
    border-radius: 50%;
    margin-left: 5px;
    font-size: 10px;
}
.dripicons-media-record.tag-online:before{
	color: #1CE589;
    background: #1CE589;
}
.dripicons-media-record.tag-busy:before{
	color: #ff9700;
    background: #ff9700;
}
.dripicons-media-record.tag-offline:before{
	color: #ff1800;
    background: #ff1800;
}
.chat-wrapper .chat-inner .chat-nav .nav-start .recipient-block .username{
    font-size: 14px;
    width: 350px;
}
.chat-nav, .users-sidebar{
	border-top: 1px solid #ccc!important;
}
.modal-pst{
	width: 37%!important;
	top: 40px!important;
    left: -48px!important;
}
.w-100{
	width: 100%;
}
.chat-wrapper .chat-inner .chat-action .chat-action-inner .control .textarea{
	height: 60px;
	max-height: 60px;
}
.chat-wrapper .chat-inner .chat-body .chat-body-inner{
	height: 75vh;
}
@media screen and (min-width: 769px), print{
	.modal-content, .modal-card {
	    margin: 0 auto;
	    max-height: calc(100vh - 150px);
	    width: 640px;
	}
}
@media (max-width: 767px){
	.modal-content {
	    max-height: calc(100vh - 160px) !important;
	}
	.modal-pst {
	    width: 60%!important;
	    left: 0px!important;
	}
}