#lga,
#state,
#gender {
    color: #fea116;
    font-size: 15px;
}

.select2-selection.select2-selection--single {
    width: 100%!important;
    left: -27%!important;
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 5px;
}

.select2.select2-container {
    width: 100%!important
}

.select2-selection__rendered {
    line-height: 3!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 20px;
    top: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #808080;
    font-size: 14px;
    padding-left: 25px;
    margin-top: -3px;
}

.select2-results__option {
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: none;
    border-style: none;
    border-width: 5px 4px 0 4px;
    left: 50%;
    margin-left: -4px;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border-bottom: 2px solid #fea116;
    border-right: 2px solid #fea116;
    height: 8px;
    margin-top: -4px;
    right: 30px;
    top: 15px;
    width: 8px;
}

.select2-container--open .select2-dropdown--below {
    top: -15px;
}

.content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 98%;
    width: calc(100% - 30px);
    left: 15px;
    top: 8px;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.gall-img{
    /*height: 100px;*/
    object-fit: cover;
    width: 100%;
}

.img-gallery,.img-video {
    margin-bottom: 15px;
    display: none;
}

.content .content-overlay.image{
    height: 93%;
    width: calc(100% - 15px);
    left: 7px;
}

.video-section{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 140px;
    background-attachment:fixed;
}

.video-section:before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgb(247,0,104);
    background: -moz-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 100%);
    background: -webkit-linear-gradient(to left, rgba(247,0,104,1) 0%, rgba(68,16,102,1) 100%);
    background: linear-gradient(to left, rgba(247,0,104) 0%,rgba(68,16,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F70068', endColorstr='#441066',GradientType=1 );
    opacity: .70;
    content: "";
}

.video-section .content-box{
    position: relative;
    text-align: center;
}

.video-section .content-box .text{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 26px;
    color: #ffbc00;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.video-section .content-box h2{
    display: block;
    font-size: 48px;
    line-height: 1.2em;
    color: #ffffff;
    font-weight: 700;
}

.video-section .play-now{
    position: relative;
    display: inline-block;
    margin-top: 50px;
}

.video-section .play-now .icon{
    height: 100px;
    width: 100px;
    line-height: 100px;
    background-color: #ffbc00;
    padding-left: 0;
    font-size: 50px;
}

.play-now {
    position: relative;
    display: block;
    z-index: 9;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.play-now .icon{
    position: relative;
    display: inline-block;
    height: 80px;
    width: 80px;
    text-align: center;
    line-height: 80px;
    background-color: #000000;
    color: #ffffff;
    z-index: 1;
    padding-left: 5px;
    font-size: 24px;
    display: block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, .3);
    -moz-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, .3);
    -ms-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, .3);
    -o-box-shadow: 0 0px 10px 0 rgba(255, 255, 255, .3);
    box-shadow: 0  0px 10px 0 rgba(255, 255, 255, .3);
    -webkit-transform-origin:center; 
    -moz-transform-origin:center; 
    -ms-transform-origin:center; 
    -o-transform-origin:center; 
    transform-origin:center; 
}

.play-now .ripple,
.play-now .ripple:before,
.play-now .ripple:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -ms-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -o-box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .6);
    -webkit-animation: ripple 3s infinite;
    -moz-animation: ripple 3s infinite;
    -ms-animation: ripple 3s infinite;
    -o-animation: ripple 3s infinite;
    animation: ripple 3s infinite;
}

.play-now .ripple:before {
    -webkit-animation-delay: .9s;
    -moz-animation-delay: .9s;
    -ms-animation-delay: .9s;
    -o-animation-delay: .9s;
    animation-delay: .9s;
    content: "";
    position: absolute;
}

.play-now .ripple:after {
    -webkit-animation-delay: .6s;
    -moz-animation-delay: .6s;
    -ms-animation-delay: .6s;
    -o-animation-delay: .6s;
    animation-delay: .6s;
    content: "";
    position: absolute;
}