.gj-datepicker [role=right-icon]{
    right: 32px;
    top: -10px;
    position: absolute;
}
.nice-select.open .list{
    z-index: 9999;
}
.single-input .nice-select{
    height: 45px;
}

.select2-container--default .select2-selection--single, .single-input .nice-select{
    border: 1px solid #ced4da;
}
.form-group.single-input span{
    display: block;
    padding-left: 8px;
    padding-right: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nice-select:after{
    top: 20px!important;
}
#lga,
#state,
#gender {
    color: #fea116;
    font-size: 15px;
}

.select2-selection.select2-selection--single {
    width: 100%!important;
    left: -27%!important;
    height: 40px;
    margin-bottom: 15px;
}

.select2.select2-container {
    width: 100%!important
}

.select2-selection__rendered {
    line-height: 3!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    right: 20px;
    top: 3px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #808080;
    font-size: 14px;
    padding-left: 25px
}

.select2-results__option {
    font-size: 14px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b,
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: none;
    border-style: none;
    border-width: 5px 4px 0 4px;
    left: 50%;
    margin-left: -4px;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    border-bottom: 2px solid #fea116;
    border-right: 2px solid #fea116;
    height: 8px;
    margin-top: -4px;
    right: 30px;
    top: 15px;
    width: 8px;
}

.select2-container--open .select2-dropdown--below {
    top: -15px;
}