/*html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: HCo Gotham Rounded SSm, sans-serif!important
}

@font-face {
    font-family: hco gotham rounded ssm;
    src: url(fonts/GothamRndSSm-Light_Web.otf) format('truetype'), url(fonts/GothamRndSSm-Light_Web.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: hco gotham rounded ssm;
    src: url(fonts/GothamRndSSm-Book_Web.otf) format('truetype'), url(fonts/GothamRndSSm-Book_Web.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: hco gotham rounded ssm;
    src: url(fonts/GothamRndSSm-Book_Web.otf) format('truetype'), url(fonts/GothamRndSSm-Book_Web.woff) format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block
}

@font-face {
    font-family: hco gotham rounded ssm;
    src: url(fonts/GothamRndSSm-Medium_Web.otf) format('truetype'), url(fonts/GothamRndSSm-Medium_Web.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: block
}
*/

.btn{
    padding: 10px 20px;	
}
.btn-dark{
	background: #000;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px;
}
.btn-dark:hover{
	background: #009fe3;
}
.btn-default{
	background: #009fe3;
    color: #fff;
    font-size: 14px;
    padding: 8px 15px;
}
.btn-default:hover{
	background: #000;
}
.text-center{
	text-align: center;
}
.w-100{
	width: 100%;
}
.widget-header h4 {
    margin-top: 0px;
    background-color: #009fe3;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: inline-block;
    padding: 16px 24px;
    text-align: center;
    min-width: 140px;
}
.overlay{
	background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width:100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  opacity: 0.7
}
.main-sidebar .widget-sidebar .widget-header h4{
	background-color: #009fe3;
    font-size: 14px;
}
.main-sidebar .categories ul.categories li a{
	font-size: 14px;
}
footer ul.footer-social-icons li a{
	font-size: 14px
}
footer{
	padding-top: 20px;
}
.text-white{
	color: #fff;
}
.course-img{
	height: 150px;
    object-fit: cover;
}
.contact-me .widget-sidebar {
    background: #ffffff30;
}
.instructor-form .form-group input, .form-group textarea{
	height: 50px;
}
.form-group.single-input span {
    left: 13%;
    top: 2%;
    color: #666;
}
.video-js .vjs-big-play-button {
    left: 40% !important;
    top: 40% !important;
    width: 20%;
    height: 20%;
}

.video-js .vjs-play-control:before {
    top:20% !important;
    content: '\f101';
    font-size: 48px;
}
p,a{
	font-size: 14px;
  text-decoration: none!important;
}
.down-content p{
	margin-bottom: 10px!important;
}
.fw-700{
	font-weight: 700;
}
.fs-18{
	font-size: 14px
}
.fs-12{
  font-size: 12px
}
body, p,h1, h2, h3, h4, h5, h6, a {
  color: #000; 
}
h4{
  font-size: 16px!important;
}
p, h6{
  font-size: 14px!important;
  font-weight: 400;
}
span.current, .instructor-form .form-group input, .form-group textarea,.select2-container--default .select2-selection--single .select2-selection__rendered{
	font-size: 14px!important;
}
.js-preloader{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-image: url('../images/loading.gif');
	background-repeat: no-repeat;
	background-color: #FFF;
	background-position: center;
  background-size: 50%;
}
.footer .copyright-text p a{
  text-transform: none!important;
  font-size: 20px!important;
}
section.above-header{
  padding: 20px 0px;
}
.main-banner{
  margin-top: 0;
}
.nice-select:after{
  right: 35px;
}
.header-logo img{
  height: 67px!important;
}
.site-header.fixed-header{
  height: 115px!important;
}
.gj-datepicker-bootstrap [role=right-icon] button{
  border: 0;
  left: 27px;
  color: #fea116;
  top: 10px;
}
.mentor-img {
    background: url('../images/mentorship1.jpg') center no-repeat;
    background-size: cover;
}
.medium-gap, .large-gap{
  margin-top: 0!important;
}
.new-dis {
    background: #E91E63;
    color: #fff;
    position: absolute;
    left: 32.5px;
    top: 8px;
    padding: 2px 8px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.past-dis {
    background: #222;
    color: #fff;
    position: absolute;
    left: 32.5px;
    top: 8px;
    padding: 2px 8px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.new-opp {
    background: #E91E63;
    color: #fff;
    position: absolute;
    left: 16px;
    top: 8px;
    padding: 2px 8px;
    text-transform: uppercase;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.new-side{
  color: #e91e63;
  position: absolute;
  right: 1.5%;
  margin-top: -9px;
  font-weight: 600;
}
.btn{
  padding: .375rem .75rem;
}
@media (max-width: 1200px) {
    .mentor-img {
        min-height: 60vh;
    }
}
@media (max-width: 400px) {
	.contact-me .widget-sidebar{
		padding: 15px 5px!important;
	}
	footer ul.footer-social-icons li, footer ul.footer-social-icons{
		display: block;
	}    
}






