p, h6{
    font-weight: 300;
}
.mails{
    max-height: 510px;
    overflow: auto;
}
.nav > li > a:focus, .nav > li > a:hover {
    background-color: transparent;
}
.nav .show > a, .nav .show > a:hover, .nav .show > a:focus {
    background-color: transparent;
    border-color: transparent;
}